* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-bg: rgb(25, 90, 25);
  --grey-text: #585858;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-family: "Roboto", sans-serif;
}

.about {
  display: flex;
  width: 80vw;
  justify-content: center;
  padding: 48px 0 84px;
}

svg {
  width: 32px;
}

.about svg {
  margin-left: 18px;
}

.about-svgs {
  display: flex;
  justify-content: flex-end;
}

.plants > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
  align-items: center;
}

.plants > div > div {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--green-bg);
  width: 100%;
  color: white;
  padding: 48px;
}

.about img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.about h2 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.about p {
  font-size: 22px;
  color: var(--grey-text);
  padding-bottom: 54px;
}

h1 {
  font-size: 40px;
}

.about h1,
.contact h1 {
  padding-bottom: 12px;
}

.about div:nth-child(1) {
  position: relative;
}

.about div:nth-child(2) {
  width: 600px;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.5);
  height: 100%;
  padding: 12px;
  margin: auto 0;
  background-color: white;
}

.header-banner {
  position: absolute;
  top: -40%;
  left: 0;
  width: 100%;
  height: 80vh;
  transform: skewY(-8deg);
  z-index: -1;
  background-color: var(--green-bg);
}

.project-card {
  max-width: 400px;
  height: 500px;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.5);
}

.plants img {
  width: 100%;
}

.plants h1 {
  padding-bottom: 16px;
}

.project-card > div {
  display: flex;
  flex-direction: column;
  padding: 0 24px 64px;
}

.project-card .card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 0;
}

.project-card p {
  color: var(--grey-text);
}

.contact p {
  font-size: 22px;
  padding-bottom: 12px;
}

.contact p svg {
  vertical-align: middle;
  fill: white;
}

.contact span svg {
  margin-right: 12px;
}
