* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-bg: rgb(25, 90, 25);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-family: "Roboto", sans-serif;
}

.about {
  display: flex;
  width: 80vw;
  justify-content: center;
  padding-top: 32px;
}

svg {
  width: 42px;
  padding-left: 12px;
}

.about-svgs {
  display: flex;
  justify-content: flex-end;
}

.work div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  align-items: center;
}

.work > div > div {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
}

.about img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.about h2 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.about p {
  font-size: 22px;
  color: #585858;
  padding-bottom: 54px;
}

.about h1 {
  font-size: 40px;
  padding-bottom: 12px;
}

.about div:nth-child(1) {
  position: relative;
}

.about div:nth-child(2) {
  width: 600px;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.8);
  height: 100%;
  padding: 12px;
  margin: auto 0;
  background-color: white;
}

.header-banner {
  position: absolute;
  top: -40%;
  left: 0;
  width: 100%;
  height: 80vh;
  transform: skewY(-8deg);
  z-index: -1;
  background-color: var(--green-bg);
}
